<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :recipe %><br />
    <%= f.text_area :recipe %>
  </div>
  <div class="field">
    <%= f.label :ingredients %><br />
    <%= f.text_field :ingredients %>
  </div>
  <div class="field">
    <%= f.label :time_til_grub %><br />
    <%= f.number_field :time_til_grub %>
  </div>
  <div class="field">
    <%= f.label :skill %><br />
    <%= f.number_field :skill %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  
  <div class="field">
    <%= f.label :rank %><br />
    <%= f.number_field :rank %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </div>
  <div class="field">
  	<%=select_tag 'tags[]', options_for_select(
	@tags.map {|s| [s.name, s.id]}
	), :multiple => true, :size => 10 %>
  </div>
  <div class="field">
  	<%=select_tag 'workout_levels[]', options_for_select(
	@workout_levels.map {|s| [s.name, s.id]}
	), :multiple => true, :size => 10 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
